@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
/*Font family for body element */
body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    background-color: #47626b;
    background-repeat: no-repeat;
    background-size: cover;
}
/* HEADINGS AND LOGO STYLING */
header {
    height: 2rem;
    position: sticky;
}
h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #FFFAF0;
}
/* Set logo Float value to ensure is stays to the left of the screen and increase logo size */
#logo {
    float: left;
    font-size: 2.5rem;
    margin: .5rem 2rem;
    display: flex;
    align-items: center;
}
/* navigation links */
#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
#menu li {
    list-style-type: none;
    padding: 10px;
    margin: 0px;
    display: inline-block;
    font-size: 1.3rem;
    margin-left: 20px;
}
#menu,
#logo {
    line-height: 100px;
    color: white;
}
#menu a {
    text-decoration: none;
    color: inherit;
    text-align: center;
}
#menu a:hover {
    border-bottom: 2px solid #48D1CC;
    background-color: #2F4F4F;
    font-size: 1.2em;
    box-shadow: 0px 0px 10px rgb(127, 6, 6);
    transition: all 0.2s ease-in-out;
}
.active {
    border-bottom: 2px solid #48D1CC;
    background-color: #2F4F4F;
    font-size: 1.2em;
    box-shadow: 0px 0px 10px rgb(52, 28, 28);
}
/* dogs image cover text*/
#dogs-outer {
    height: 50.5rem;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#cover-text,
#cover-text h3 {
    height: 600px;
    width: 100%;
}
#dogs-image {
    height: 800px;
    width: 100%;
    background: url('../images/dogs-image.webp') no-repeat center center;
    background-size: cover;
    object-fit: cover;
    margin-bottom: 0px;
    margin-block-start: auto;
    /* animates zoom effect on loading page */
    animation-name: dogs-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    text-decoration: none;
}
/* creates the level of zoom for dogs image */
@keyframes dogs-zoom {
    from {
        transform: scale(1.4);
    }
    to {
        transform: scale(1.1);
    }
}
/*------------------------------------------------------------main page --------------------------------------------------------------------------*/
#breeds #Care #training {
    background-color: lightgray;
    text-align: center;
    padding-top: 100px;
}
.card {
    border: none;
    padding: 10px;
    text-align: center;
    display: grid;
    align-items: center;
    border-radius: 50%/30%;
}
main {
    display: flex;
}
li {
    list-style-type: none;
}
img {
    border-radius: 5px;
}
.container {
    overflow: hidden;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #719176;
    padding: 20px;
    background-color: #1e3e48;
    border-radius: 800px;
    box-shadow: 3px 3px 3px #888888;
}
.container img {
    width: 30%;
    height: 30%;
    padding: 20px;
}
.container p {
    font-size: 1.2em;
    padding: 10px;
    line-height: 1em;
    margin-bottom: 3em;
}
p {
    margin: 0px 16px;
    color: black;
    font-family: oswald, sans-serif;
    text-align: left;
    display: block;
    width: 50%;
}
.text {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}
/*----------------------------------------------------------------------info address------------------------------------*/
.location-info {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px #ccc;
    max-width: 85%;
    margin: 0 auto;
}
.opening-hours {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 20px;
}
.contact-info {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 20px;
}
/*------------------------------------------------------------- gallery-------------------------------------------------------------------*/
#stasi-photo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    clear: both;
}
.image-container {
    padding: 20px;
    clear: both;
    width: 600px;
    height: 600px;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.caption {
    margin: auto;
    text-align: center;
}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image-container h2 {
    position: sticky;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}
hr {
    width: 100%;
    margin: 10px 0;
}
/*---------------------------------------------------------------- CONTACT FORM STYLING--------------------------------------------------------------- */
/* Contact form styling is shown below, this targets the form on the contact.html page */
.contact-form {
    margin: auto;
    background-color: #29383d;
    padding: 2rem;
    color: white;
    border-radius: 2rem;
    clear: both;
    width: 30%;
}
/* Targets the for contact form  */
.contact-form h2 {
    text-align: center;
    color: white;
    margin-bottom: 2rem;
    font-size: 1rem;
}
/* Targets the inputs on the contact form */
.form-input {
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    font-weight: 400;
    margin: 1rem;
    border-radius: .25rem;
}
/* Targets the labels for the form inputs */
.contact-form label {
    font-size: 1.2rem;
    padding: 1rem;
}
/* Targets the textarea form input */
.contact-form>textarea {
    height: 10rem;
    margin: 1rem;
}
/* Targets the send message button */
.send-message-button {
    margin: 1rem;
    font-size: 1em;
    border-radius: 0.25rem;
    padding: 1rem;
    text-align: center;
    font-weight: 600;
    background-color: rgb(72, 68, 3);
    border: 0.2rem solid white;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    width: fit-content;
}
.send-message-button:hover {
    /* Add styles for the button on hover */
    background-color: #3f51b5;
    box-shadow: 0 0 10px #010416;
}
/*-------------------------------------------------------------------------Location Map------------------------------------------------------------ */
#location label {
    color: white;
}
#location-container {
    display: flex;
    justify-content: center;
}
#location {
    width: 65%;
    height: 40%;
    padding-bottom: 2em;
    background-color: #29383d;
    margin-top: 20px 0;
}
iframe {
    margin: 20px 0px;
    width: 100%;
}
/*-----------------------------------------------------------------------social networks networks-------------------------------------------------------------*/
.social-networks {
    text-align: center;
}
.social-networks li {
    display: inline;
}
.social-networks i {
    font-size: 160%;
    margin: 2%;
    padding: 5%;
    color: rgb(4, 4, 238);
    background-color: rgb(247, 236, 236);
    padding: 10px;
    border-radius: 50%;
}
/* footer */
footer {
    height: 150px;
    text-align: center;
}
#phone-number {
    color: #3a3a3a;
    text-align: center;
    color: black;
    padding-left: 30%;
    margin: 2%;
    background-color: white;
}
/*---------------------------------------------------------------------- Media queries *--------------------------------------------------------------------------------------------------------/
/* For Mobile View */
@media screen and (max-width: 325px) {
    #logo {
        font-size: 2rem;
    }
    .image-container h2 {
        padding: 2px 0;
        font-size: 1em;
    }
    .opening-hours p,
    .contact-info p {
        font-size: 0.8em;
    }
    .location-info {
        width: 90%;
    }
    .contact-form {
        margin: auto;
    }
    .form-input {
        height: 2.5rem;
        font-size: 1.3rem;
    }
    .contact-form label {
        font-size: 1.3rem;
    }
}
/* For small screen sizes below 600px width */
@media only screen and (max-width: 600px) {
    .location-info {
        width: 100%;
        height: auto;
    }
    .opening-hours {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: space-between;
        padding: 20px;
    }
    .contact-info {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: space-between;
        padding: 20px;
    }
    .container img {
        width: 50%;
        height: 50%;
        padding: 20px;
    }
    .opening-hours p,
    .contact-info p {
        font-size: 0.8em;
        padding: 5px;
    }
    .container {
        width: 90%;
        margin: 0 auto;
    }
    .container p {
        width: 80%;
        height: auto;
        padding: 20px;
    }
    .image-container {
        width: 80%;
        height: 80%;
        margin: auto;
    }
    .form-input {
        height: 2rem;
        font-size: 1.1rem;
    }
    .contact-form label {
        font-size: 1rem;
    }
    .send-message-button {
        width: 100%;
        font-size: 0.8em;
    }
}
/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {
    #menu {
        clear: left;
        float: left;
        clear: both;
        margin-bottom: 20px;
        line-height: 25px;
    }
    #cover-text {
        left: 0;
    }
    .contact-form {
        font-size: 1.5em;
        width: 60%
    }
    .container {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .form-input {
        height: 2.5rem;
        font-size: 1.3rem;
    }
    .contact-form label {
        font-size: 1.3rem;
    }
}