@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 400;
    color: balck;
}

/* headings and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #000080;
}

#logo {
    float: left;
    font-size: 300%;
}
/* navigation links */

#menu{
    font-size: 110%;
    letter-spacing: 3px;
}

#menu, #logo {
    line-height: 100px;
}

#menu li {
    float: right;
    margin-right: 20px;
    list-style-type: none;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
#menu a:hover {
    border-bottom: 2px solid #008000;
}
.active {
    border-bottom: 2px solid  #008000;
}

/* dogs image */

#dogs-outer 
{
height: 800px;
 width: 100%;
 overflow: hidden;
}
#dogs-image
{
    height: 800px;
    width: 100%;
    background: url('../images/dogs-image.webp') no-repeat center center;
    margin: right;
    margin-right: 0px;
    margin-block-start: auto;
    /* animates zoom effect on loading page */
    animation-name: dogs-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
/* creates the level of zoom for dogs image */
@keyframes dogs-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}
    